
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-[#040714] text-[#f9f9f9];
  }
} */

@layer components{
  
  .link{
    @apply cursor-pointer 
  }
  /* .btn{
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border-yellow-300 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500 hover:cursor-pointer w-full
  } */
  /* .span {
    @apply relative uppercase text-sm font-medium before:bg-[#f9f9f9] before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute before:transform before:origin-left before:scale-x-0 before:transition-all before:duration-200 group-hover:before:scale-x-100;
  } */

  .brand {
    @apply flex relative w-52 h-32 sm:w-64 sm:h-36 border-[3px] border-[#f9f9f9] border-opacity-10 rounded-lg cursor-pointer shadow-xl overflow-hidden  hover:border-opacity-80 hover:shadow-2xl transform hover:scale-105 transition duration-300;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width:100%;
  height:100%;
  overflow-x:hidden;
 
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 6px;
  /* display: none; */
}

::-webkit-scrollbar-thumb {
 background: linear-gradient(transparent,#87cc77);
 border-radius:  6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#5c56b8);
  border: radius 6px;
 }




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.slick-arrow::before,.slick-prev::before, .slick-next::after, .slick-arrow::after{
  display:none

}

.slick-arrow, .slick-prev,
.slick-arrow, .slick-next{
    background:yellow;
    z-index:100;
    width: 100px;
    height: 104px;

}

.slick-arrow, .slick-next{
  position: absolute;
  top:30%;
  background:yellow;
  z-index:100;
  width:100px;
  height: 104px;

}

/* .container{
  overflow: scroll;
  overflow-x:hidden;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
} */